@import "../../css/variables";

:host {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.red-envelope-body {
  background-color: $valentine-red;
  border-radius: 10px;
  padding: 2rem;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='53.101' height='79.65' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23e74c3cff'/><path d='M57.589 69.148 45.16 81.466M55.4 65.24 41.735 78.784M50.49 64.03 38.873 75.544m5.424-11.453L37 71.324m20.642-1.662-.006.002a5.979 5.979 0 0 0-1.747-3.985 6.006 6.006 0 0 0-8.495 0l-.125.125-.125-.125a6.006 6.006 0 0 0-8.495 0 5.98 5.98 0 0 0-1.747 3.985l-.006-.002s-1.022 6.436 10.362 13.126l.009.009.003-.002.003.002.009-.01c11.382-6.689 10.36-13.125 10.36-13.125Zm-.053-80.164L45.16 1.816M55.4-14.408 41.735-.866M50.49-15.62 38.873-4.106m5.424-11.453L37-8.326m20.642-1.662-.006.002a5.979 5.979 0 0 0-1.747-3.985 6.006 6.006 0 0 0-8.495 0l-.125.125-.125-.125a6.006 6.006 0 0 0-8.495 0 5.98 5.98 0 0 0-1.747 3.985l-.006-.002S35.874-3.552 47.258 3.138l.009.009.003-.002.003.002.009-.01c11.382-6.689 10.36-13.125 10.36-13.125ZM4.488 69.148-7.94 81.466M2.299 65.24l-13.663 13.543m8.752-14.753-11.615 11.513m5.423-11.453-7.297 7.233m20.642-1.662-.006.002a5.979 5.979 0 0 0-1.746-3.985 6.006 6.006 0 0 0-8.495 0l-.125.125-.126-.125a6.006 6.006 0 0 0-8.495 0 5.98 5.98 0 0 0-1.746 3.985l-.006-.002s-1.023 6.436 10.361 13.126l.01.009.002-.002.003.002.01-.01c11.382-6.689 10.36-13.125 10.36-13.125ZM33.283 29.32 20.854 41.639m10.24-16.224L17.43 38.957m8.753-14.753L14.567 35.717m5.424-11.452-7.297 7.232m20.642-1.662-.006.002a5.979 5.979 0 0 0-1.747-3.985 6.006 6.006 0 0 0-8.494 0l-.126.125-.125-.125a6.006 6.006 0 0 0-8.495 0 5.98 5.98 0 0 0-1.747 3.985l-.006-.002s-1.022 6.437 10.362 13.126l.009.009.003-.002.003.002.009-.01c11.382-6.688 10.36-13.125 10.36-13.125ZM4.488-10.502-7.94 1.816M2.299-14.408-11.364-.866m8.752-14.753L-14.227-4.106m5.423-11.453-7.297 7.233M4.541-9.988l-.006.002a5.979 5.979 0 0 0-1.746-3.985 6.006 6.006 0 0 0-8.495 0l-.125.125-.126-.125a6.006 6.006 0 0 0-8.495 0 5.98 5.98 0 0 0-1.746 3.985l-.006-.002S-17.227-3.552-5.843 3.138l.01.009.002-.002.003.002.01-.01C5.563-3.551 4.541-9.987 4.541-9.987Z'  stroke-width='0.5' stroke='%238e2d26ff' fill='none'/><path d='M31.106 13.62h4m-2-2v4m9.462 11.313h4m-2-2v4M6.806 53.445h4m-2-2v4m4.962 11.313h4m-2-2v4'  stroke-width='0.5' stroke='%238e2d26ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-130,0)' fill='url(%23a)'/></svg>");
  aspect-ratio: 1 / 0.5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 5;
  animation: pulsePulseWiggle 3s ease-in-out infinite;
  max-width: 100%;
  width: 50%;

  &:hover {
    transform: scale(1.05);
  }

  &.opened {
    animation: swoopDownFadeOut 0.8s ease-in-out forwards;
    z-index: 4;
  }

  @media (max-width: 767px) {
    width: 95%;
    margin: 0 auto;
  }
}

@keyframes pulsePulseWiggle {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1) rotate(5deg);
  }

  88% {
    transform: scale(1) rotate(-5deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes swoopDownFadeOut {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  50% {
    transform: translateY(50vh) rotate(15deg);
    opacity: 0.7;
  }

  100% {
    transform: translateY(100vh) rotate(30deg);
    opacity: 0;
  }
}

.stamp-outter {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 767px) {
    width: 60px;
    height: 60px;
  }
}

.for-you {
  color: $valentine-white;
  margin-top: 1rem;
  font-size: clamp(2.4em, 3vw, 3.9em);
  font-weight: bold;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 2em;
  }
}

.for-name {
  color: $valentine-white;
  font-size: clamp(1.9em, 4vw, 4.5em);
  font-weight: bold;
  text-align: center;
  margin-top: 1.75rem;
}

.hint {
  color: $valentine-white;
  font-size: 18px;
  text-align: center;
  margin-top: 2rem;
  font-style: italic;

  @media (max-width: 767px) {
    font-size: 14px;
    margin-top: 1.5rem;
  }
}
