<div class="letter-body" [class.opened]="opened">
    <p class="letter-title borel-regular" [class.yes-clicked]="yesClicked">
        Will You Be My Valentine?💘
    </p>
    <p *ngIf="isNoButtonRunning" class="no-message miniver-regular">
        (Are you sure ?)
    </p>
    <p class="yes-message sour-gummy" [class.yes-clicked]="yesClicked" [class.hidden]="!yesClicked">
        ✨Wonderful!✨
        <br>You won't regret it!
        <br>Happy Valentine's Day!💝
        <br>😉💖
        <br>💋XOXO
    </p>
    <div class="button-group" [class.yes-clicked]="yesClicked">
        <button class="yes-button borel-regular" (click)="yesBtnClicked()">YES</button>
        <button #noButton class="no-button" (click)="moveNoButton()">NO</button>
    </div>
</div>