:host {
    display: grid;
    place-items: center;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

i {

    position: absolute;
    top: 2%;
    font-size: 2rem;
    color: #db8282;
    right: 2%;
    cursor: pointer;
}